@import "~@/styles/mixins";

.menuItem{
    font-size: @layout-header_font_size;
    &:global(.ant-menu-item-selected){
        background: @layout-header_selected_bg;
        >a{
            color: @layout-header_selected_color;
        }
    }
}

.menuRow{
    .menuSys{
        flex: auto;
    }
    .menuStatus{
        flex: auto;
        min-width: 32px;
        text-align: right;
        padding-right: 24px;
    }
}

.menu {
    height: 100%;
    border-bottom: 0;
    transition: max-height .3s ease-in;
    position: relative;
    z-index: 9;
    :global(.ant-menu-item){
        height: @nav-header-height;
        line-height: @nav-header-height;
    }
}

.statusBarMenu{
    :global {
        .ant-menu-item {
            padding: 0;
            .ant-badge,a,.link,.anticon{
                color: inherit;
            }
            &.ant-menu-item-selected {
                background: transparent;
                .ant-badge,a,.link,.anticon {
                    color: @primary-color
                }
            }
        }
        .ant-menu-overflowed-submenu{
            height: @nav-header-height;
            line-height: @nav-header-height;
        }
    }
    .statusBarMenuItem{
        padding: 0 12px;
        :global{
            .ant-badge,a,.link,.anticon{
                color: inherit;
            }
            .anticon{
                vertical-align: middle;
                color: inherit;
                margin-right: 0;
                font-size: 20px;
                width: 20px;
            }
        }
    }
}

.light{
    .statusBarMenuItem{
        &:hover,&:global(.antd-menu-item-active){
            border-bottom: 0;
        }
    }
}

.taskBadge {
    color: inherit;
}

.noticeCard{
    width: 450px;
    :global(.ant-card-body){
        padding: 0;
    }
    .footer {
        padding: @design-gutter_large 0;
        text-align: right;
        border-top: 1px solid @light_grey;
        transition: all 0.3s;
        cursor: pointer;
    }
}
